
html {
    width: 100%;
    max-width: 600px;
}

.content {
    margin: 1rem;
    margin-top: 0rem;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
    padding-top: 1rem;
}

.email-header {
    width: 100%;
    max-width: 600px;
    height: 5rem;
    background-color: #70bf44;
    text-align: center;
}

.email-header-img {
    max-height: 5rem;
    max-width: 9rem;
}

.email-footer {
    width: 100%;
    max-width: 600px;
}

.content {
  width: 90%;
  max-width: 600px;
}

p + p {
    text-indent: 1rem;
}

p {
    line-height: 1.2rem;
}

a {
  color: blue !important;
}

.footer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: auto;
}

/* CSS */
.submit-button {
  appearance: button;
  background-color: #70bf44;
  background-image: none;
  border: none;
  border-radius: .5em;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  font-family: "Big Shoulders Display";
  font-weight: 700;
  line-height: 1;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
