<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        (click)="back()"
        class="plausible-event-name=Back+From+Violation"
        >Back</ion-button
      >
    </ion-buttons>
    <ion-title>What's the Violation?</ion-title>
    <ion-buttons slot="end">
      <ion-button
        color="medium"
        (click)="cancel()"
        class="plausible-event-name=Cancel+Submission+From+Violation"
        >Cancel</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button
    *ngFor="let violation of violations"
    (click)="setViolation(violation)"
    size="large"
    expand="block"
    class="plausible-event-name=Submission+Choose+Violation"
  >
    <ion-icon
      class="absolute-icon"
      size="large"
      slot="start"
      [src]="getViolationIcon(violation)"
    ></ion-icon>
    <span [innerHTML]="renderViolationText(violation)"></span>
  </ion-button>
</ion-content>

<ion-footer class="ion-text-center">
  <small>
    "Bike Lane" icon by Pierre-Luc Auclair from the Noun Project<br />
    "Corner Clearance" icon by Firza Alamsyah from the Noun Project<br />
    "Crosswalk" icon by Uswa KDT from the Noun Project<br />
    "Handicap" icon by Vadim Solomakhin from the Noun Project<br />
    "Sidewalk" icon by Magicon from the Noun Project
  </small>
</ion-footer>
