<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        (click)="back()"
        class="plausible-event-name=Back+From+Confirm+Details"
        >Back</ion-button
      >
    </ion-buttons>
    <ion-title>Confirm some details</ion-title>
    <ion-buttons slot="end">
      <ion-button
        color="medium"
        (click)="cancel()"
        class="plausible-event-name=Cancel+Submission+From+Confirm+Details"
        >Cancel</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="presentReallySubmit()" ngNativeValidate>
    <ion-list>
      <ion-list-header> Violation </ion-list-header>
      <ion-item style="max-width: 100%; width: 100%">
        <ion-text class="ion-text-right">{{
          violation.violationType
        }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-select
          label="How frequently does this occur?"
          [(ngModel)]="frequency"
          name="frequency"
          interface="modal"
          required
        >
          <ion-select-option
            *ngFor="let option of getOptions('How frequently does this occur?')"
            >{{ option }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-list-header> Vechicle Details </ion-list-header>
      <ion-item>
        <ion-img
          style="max-width: 50vw"
          [src]="
            this.violation!.image
              | renderImage
                : this.violation.vehicle.vehicle.box.xmin
                : this.violation.vehicle.vehicle.box.ymin
                : this.violation.vehicle.vehicle.box.xmax
                : this.violation.vehicle.vehicle.box.ymax
              | async
          "
        ></ion-img>
      </ion-item>
      <ion-item>
        <ion-select
          label="Make"
          [(ngModel)]="make"
          name="make"
          interface="modal"
          required
        >
          <ion-select-option *ngFor="let option of getOptions('Make')">{{
            option
          }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-text-right"
          label="Model"
          [(ngModel)]="model"
          name="model"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-select
          label="Body Style"
          [(ngModel)]="bodyStyle"
          name="bodyStyle"
          interface="modal"
          required
        >
          <ion-select-option *ngFor="let option of getOptions('Body Style')">{{
            option
          }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select
          label="Color"
          [(ngModel)]="vehicleColor"
          name="vehicleColor"
          interface="modal"
          required
        >
          <ion-select-option
            *ngFor="let option of getOptions('Vehicle Color')"
            >{{ option }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item *ngIf="this.violation.vehicle!.plate">
        <ion-img
          style="max-width: 50vw"
          [src]="
            this.violation!.image
              | renderImage
                : this.violation.vehicle.plate.box.xmin
                : this.violation.vehicle.plate.box.ymin
                : this.violation.vehicle.plate.box.xmax
                : this.violation.vehicle.plate.box.ymax
              | async
          "
        ></ion-img>
      </ion-item>
      <ion-item>
        <ion-select
          label="Plate State"
          [(ngModel)]="plateState"
          name="plateState"
          interface="modal"
        >
          <ion-select-option
            *ngFor="let option of getStates() | keyvalue"
            value="{{ option.key }}"
            >{{ option.value }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-text-right"
          label="Plate Number"
          [(ngModel)]="plateNumber"
          name="plateNumber"
        ></ion-input>
      </ion-item>

      <ion-list-header> Location Details </ion-list-header>
      <ion-item>
        <ion-input
          class="ion-text-right"
          label="Block Number"
          [(ngModel)]="blockNumber"
          name="blockNumber"
          type="number"
          inputmode="numeric"
          required
        ></ion-input>
      </ion-item>

      <ion-item [button]="true" [detail]="false" id="select-streetName">
        <ion-label>Street Name</ion-label>
        <div slot="end">{{ streetName }}</div>
      </ion-item>
      <ion-modal trigger="select-streetName" #streetNameModal>
        <ng-template>
          <app-typeahead
            class="ion-page"
            title="Street Name"
            [items]="streetNameOptions"
            [selectedItem]="streetName"
            (selectionChange)="streetNameChanged($event)"
            (selectionCancel)="streetNameModal.dismiss()"
          ></app-typeahead>
        </ng-template>
      </ion-modal>

      <ion-item [button]="true" [detail]="false" id="select-zipCode">
        <ion-label>Zip Code</ion-label>
        <div slot="end">{{ zipCode }}</div>
      </ion-item>
      <ion-modal trigger="select-zipCode" #zipCodeModal>
        <ng-template>
          <app-typeahead
            class="ion-page"
            title="Zip Code"
            [items]="zipCodeOptions"
            [selectedItem]="zipCode"
            (selectionChange)="zipCodeChanged($event)"
            (selectionCancel)="zipCodeModal.dismiss()"
          ></app-typeahead>
        </ng-template>
      </ion-modal>
    </ion-list>

    <br />
    <br />
    <ion-button
      type="submit"
      expand="block"
      class="plausible-event-name=Submission+Submit"
      *ngIf="this.onlineStatus.online"
      >Submit!</ion-button
    >
    <ion-text *ngIf="!this.onlineStatus.online">
      You're currently offline! Don't fear though! You can submit your report
      when you're back online.
    </ion-text>
  </form>
</ion-content>
