{% extends 'base.html' %}
{% load humanize i18n thumbnail share_tags qr_code %}


{% block opengraph %}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ campaign.title }} - Philly Bike Action">
<meta property="og:url" content="https://bikeaction.org/campaigns/{{ campaign.slug }}">
{% if campaign.cover %}<meta property="og:image" content="{{ campaign.cover|thumbnail_url:'small' }}">{% endif %}
<meta property="og:description" content="{{ campaign.description }}">
<meta property="og:site_name" content="Philly Bike Action">

<!-- Twitter -->
<meta name="twitter:card" content="{% if campaign.cover %}summary_large_image{% else %}summary{% endif %}">
<meta name="twitter:title" content="{{ campaign.title }} - Philly Bike Action">
<meta name="twitter:description" content="{{ campaign.description }}">
{% if campaign.cover %}<meta name="twitter:image" content="{{ campaign.cover|thumbnail_url:'small' }}">{% endif %}
{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css" integrity="sha512-UiVP2uTd2EwFRqPM4IzVXuSFAzw+Vo84jxICHVbOA1VZFUyr4a6giD9O3uvGPFIuB2p3iTnfDVLnkdY7D/SJJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.js" integrity="sha512-UU0D/t+4/SgJpOeBYkY+lG16MaNF8aqmermRIz8dlmQhOlBnw6iQrnt4Ijty513WB3w+q4JO75IX03lDj6qQNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content_container %}
<div class="campaign-content-container">

  <div class="campaign-header">
    <div class="campaign-overlay"></div>
    <div class="campaign-header-img" style="{% if campaign.cover %}background: url({{ campaign.cover|thumbnail_url:'banner' }}); {% endif %}background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
    <div class="campaign-title">
      <h1>{{ campaign.title }}</h1>
    </div>
  </div>

  {% block content %}
  <div class="campaign-container content-container">

  {% if campaign.has_actions and not campaign.status == "completed" %}
    <div class="button-holder">
      <a href="#action" class="cta-button submit-button" >{% if campaign.call_to_action %}{{ campaign.call_to_action }}{% else %}{% translate "Take Action Now!" %}{% endif %}</a>
    </div>
  {% endif %}

  {% if campaign.status == "completed" %}
    <p style="font-size: smaller; color: grey; width: 100%; text-align: center;">{% translate "This campaign has been completed." %}</p>
  {% endif %}

  {{ campaign.content_rendered|safe }}

  {% if campaign.has_actions and not campaign.status == "completed" %}
    <span id="action"></span>
    {% if campaign.call_to_action_header %}
    <h2>{% if campaign.call_to_action %}{{ campaign.call_to_action }}{% else %}{% translate "Take Action Now!" %}{% endif %}</h2>
    {% endif %}
  {% endif %}

  {% if campaign.donation_action %}
    <div id="donation" class="button-holder">
      <h2>{% translate "Make a donation" %}</h2>

      {% if campaign.donation_goal %}
      <div class="progress-bar-container">
        <div class="progress-bar">
          <div class="progress-bar-fill" style="width: {{ campaign.donation_progress }}%"></div>
        </div>
        {% if campaign.donation_goal_show_numbers %}
        <span style="float: left; padding-left: min(calc({{ campaign.donation_progress }}% - 1.5em), calc(100% - 4.2em)); margin-top: .5em;">${{ campaign.donation_total|intcomma }}</span>
        <span class="progress-goal">${{ campaign.donation_goal|intcomma }}</span>
        {% endif %}
      </div>
      {% endif %}

      <a href="{% url 'create_one_time_donation_checkout_session' %}?donation_product_id={{ campaign.donation_product.id }}" class="cta-button submit-button">{% translate "Donate Now!" %}</a>
      {% if campaign.donation_product.disclaimer %}
      <p>{{ campaign.donation_product.disclaimer_rendered|safe }}</p>
      {% endif %}
    </div>
  {% endif %}

  {% if campaign.subscription_action and not campaign.status == "completed" %}
    {% with request.user.djstripe_customers.first as customer %}
    {% if customer.active_subscriptions.all %}
    <div id="subscription" class="button-holder">
      <h2>{% translate "🎉 Thank you for being a supporter 🎉" %}</h2>
      <a class="submit-button" href="{% url 'profile' %}">{% translate "Manage your recurring donation" %}</a>
    </div>
    {% else %}
    <div id="subscription" class="button-holder">
      <h2>{% translate "Become a monthly supporter" %}</h2>
      <a href="{% url 'setup_recurring_donation' %}" class="cta-button submit-button">{% translate "Become a Supporter!" %}</a>
    </div>
    {% endif %}
    {% endwith %}
  {% endif %}

  {% if campaign.future_events.all and not campaign.status == "completed" %}
    <h3>{% translate "Attend an event" %}</h3>
    <div id="events">
      {% for event in campaign.future_events.all|dictsort:"start_datetime" %}
      <div class="event">
        <a href="{% url "event_detail" slug=event.slug %}"><i class="fa-regular fa-calendar"></i> {{ event.title }} - {{ event.start_datetime|date }}</a>
      </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if campaign.social_shares %}
  <div class="calendar-subscribe">
    <div>Share:</div>
    {% with share_url=request.build_absolute_uri %}
    {% with share_title=campaign.call_to_action|default_if_none:"Take Action Now"|add:" "|add:campaign.title %}
    <span class="calendar-share">{% post_to_reddit  share_title share_url "<i class=\"fa-brands fa-reddit\"></i> Reddit" %}</span>
    <span class="calendar-share">{% post_to_twitter share_title share_url "<i class=\"fa-brands fa-twitter\"></i> Twitter" %}</span>
    <span class="calendar-share">{% post_to_bluesky share_title share_url "<i class=\"fa-brands fa-bluesky\"></i> Bluesky" %}</span>
    <span class="calendar-share"><a href="{% qr_url_from_text share_url image_format='png' %}" download="qr-code-{{ event.slug }}.png"><i class="fa-solid fa-qrcode"></i> QR Code</a></span>
    {% endwith %}
    {% endwith %}
    <span class="calendar-share">{% copy_to_clipboard share_url "<i class=\"fa-solid fa-copy\"></i> Copy URL" %}</span>
    {% add_copy_script %}
  </div>
  {% endif %}

  {% if campaign.petitions.all and not campaign.status == "completed" %}
    <div id="petitions">
    {% for petition in campaign.petitions.all %}
      {% if campaign.petitions.all|length > 0 %}<h2>{{ petition.title }}</h2>{% endif %}
      {% if petition.display_on_campaign_page and petition.active %}
      <div class="petition">
        {% include 'petition/form.html' with petition=petition form=petition.form %}
      </div>
      {% endif %}
      {% if petition.signatures.all %}
      <div class="fade-transition" hx-get="{% url 'petition_signatures' petition_slug_or_id=petition.id %}" hx-trigger="every 10s" hx-swap="innerHTML transition:true">
        {% include 'campaigns/_partial_signatures.html' %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
  {% elif campaign.petitions.all and campaign.status == "completed" %}
    <div id="petitions">
    {% for petition in campaign.petitions.all %}
      {% if campaign.petitions.all|length > 0 %}<h2>{{ petition.title }}</h2>{% endif %}
      {% if petition.letter %}
      <div class="petition">
        <p>{{petition.letter|linebreaks}}</p>
      </div>
      {% endif %}
      {% if petition.signatures.all %}
      <div>
        {% include 'campaigns/_partial_signatures.html' %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}

  </div>

  <script>
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
              e.preventDefault();
              document.querySelector(this.getAttribute('href')).scrollIntoView({
                  behavior: 'smooth'
              });
          });
      });
  </script>
  {% endblock %}
</div>
{% endblock %}
