{% extends "base.html" %}

{% block content %}
<div class="form-header">
  <h1>Project Application</h1>

  <div style="text-align: left;">
  <p>We're excited that you want to support Philly Bike Action by leading a new project!

  <p><b>Philly Bike Action is happy to support and facilitate projects that align with our mission!</b> Past projects include: initiatives for new/improved bike lanes, engagements with City Council, bike lane cleanups, direct action demonstrations for safe streets, and more.</p>

  <p>Please use this form to submit an application to the Board of Directors for a new project. We will review it and get back to you as soon as possible.</p>

  <p>If your project is accepted, we will share helpful how-to documents to get you started. However, <b>you</b> will be responsible for organizing the project until its completion. We encourage you to proactively ask for help and guidance from experienced PBA organizers to ensure the project follows PBA processes and quality standards.</p>

  <p>Have questions? Please reach out to <a href="mailto:info@bikeaction.org">info@bikeaction.org</a>.</p>
  </div>

</div>
<div class="form-container">
  <form class="application-form" method="post">
  {% csrf_token %}

  {% if form.errors %}
  <div class="form-errors">
    <p><b>Form invalid!</b> Please correct errors in <span style="color: red;">red</span> below</p>
  </div>
  {% endif %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  <h2>Summary</h2>

  {% include 'snippets/field.html' with field=form.shortname %}
  {% include 'snippets/field.html' with field=form.quick_summary %}

  <h2>Project leader information</h2>
  <p>
    <label>Name</label>
    <span class="prefilled">{{ request.user.first_name }} {{ request.user.last_name }}</span>
  </p>
  <p>
    <label>Discord username</label>
    <span class="prefilled">{{ request.user.profile.discord.extra_data.username }}</span>
  </p>
  <p>
    <label>Email</label>
    <span class="prefilled">{{ request.user.email }}</span>
  </p>
  <p>
    <label>City Council District</label>
    <span class="prefilled">{{ request.user.profile.district }}</span>
  </p>
  {% include 'snippets/field.html' with field=form.leader_phone_number %}
  {% include 'snippets/field.html' with field=form.leader_preferred_contact_method %}
  {% include 'snippets/field.html' with field=form.leader_past_experience %}

  <h2>Project overview</h2>
  {% include 'snippets/field.html' with field=form.mission_relevance %}
  <div class="formfield">
    <p>
      {{ form.success_criteria.label_tag }}
      <div style="font-size: smaller; padding-left: 1em; margin-bottom: 1em;">
        <p style="text-align: left;">You must include a specific timeline or end date.</p>
        <ul>
          <li>Good: deliver the petition to City Council by June</li>
          <li>Bad: when the bike lane is finally installed</li>
        </ul>
      </div>
      {{ form.success_criteria.errors }}
      {{ form.success_criteria }}
      <span class="helptext">{{ form.success_criteria.help_text|safe }}</span>
    </p>
  </div>

  {% include 'snippets/field.html' with field=form.name_use %}
  {% include 'snippets/field.html' with field=form.recruitment %}
  {% include 'snippets/field.html' with field=form.external_orgs %}

  <h2>Logistics</h2>
  {% include 'snippets/field.html' with field=form.location %}
  {% include 'snippets/field.html' with field=form.time_and_date %}
  {% include 'snippets/field.html' with field=form.recurring %}


  <h2>Resources</h2>
  <p>Successful projects require promotion, volunteer management, and tech support (petitions, emails, etc). Estimating these needs ahead of time ensures a smoother experience and makes it easier to determine if a project is within our scope at a given time.</p>

  <p>If requested, PBA can offer useful equipment such as (but not limited to):</p>

  <ul>
    <li>Cargo Trailer with hitch and repair kits</li>
    <li>Pink and green cones</li>
    <li>Yellow safety vests</li>
    <li>Bumper magnets</li>
    <li>Folding table, chair, and dolly</li>
    <li>Yellow caution tape, clear tape, scissors, colored sidewalk chalk, blank posterboard</li>
    <li>Quick Setup Easels</li>
    <li>Tupperware container with assorted flyers</li>
    <li>Bicycle counter</li>
  </ul>
  <br>

  {% include 'snippets/field.html' with field=form.equipment_needed %}
  {% include 'snippets/field.html' with field=form.volunteers_needed %}
  {% include 'snippets/field.html' with field=form.promotion_needed %}
  <div class="formfield">
    <p>
      {{ form.finances_needed.label_tag }}
      <div style="font-size: smaller; padding-left: 1em; margin-bottom: 1em;">
        <p style="text-align: left;">Based on past projects, we have recommended budgets to use as a baseline:</p>
        <ul>
          <li>Bike Lane Clean up - $50 (trash bags, coffee, snacks, etc.)</li>
          <li>Tabling Event - Tabling Fee + $20 (printing, snacks, etc.)</li>
          <li>Bike Lane/Campaign Project - $100</li>
        </ul>
        <p style="text-align: left;">Additional funding can be approved by the Board down the line if needed.</p>
      </div>
      {{ form.finances_needed.errors }}
      {{ form.finances_needed }}
      <span class="helptext">{{ form.finances_needed.help_text|safe }}</span>
    </p>
  </div>
  {% include 'snippets/field.html' with field=form.others_needed %}

  <h2>Anything Else</h2>
  {% include 'snippets/field.html' with field=form.anything_else%}

  <div class="button-holder">
    <button class="secondary-button" type="submit" name="save-draft" value="Save Draft" formnovalidate="formnovalidate">Save Draft</button>
    <button class="submit-button" type="submit" name="submit-application" value="Submit!" formnovalidate="formnovalidate">Submit</button>
    <span class="helptext">Use "Save Draft" to store your responses without any validation and return later. Once submitted your response will not be editable.</span>
  </div>

  </form>
</div>
<br>
<br>
{% endblock %}
