{% extends "base.html" %}
{% load static markdownify %}

{% block content %}

<div style="max-width: 40em; margin: 0 auto;">
<h1>{{ maillink.title }}</h1>

{% if maillink.description%}
<div>{{ maillink.description|markdownify }}</div>
{% endif %}

<p style="width: 33%; margin: 1em auto; text-align: center;">
  <a class="cta-button submit-button" href="{{ mail_link }}">Send Now!</a>
  <br><small>This will open your email client with a draft email for you to edit and send.</small>
</p>

<table class="email">
  <tr><td>Subject:</td><td><b>{{ maillink.subject }}</b></td></tr>
  <tr><td>To:</td><td><b>{{ maillink.to }}</b></td></tr>
  {% if maillink.cc %}<tr><td>Cc:</td><td>{{ maillink.cc }}</td></tr>{% endif %}
  <tr><td class="email-body" colspan=2>{{ maillink.body }}{% if first_name or last_name or address %}

-{{first_name}} {{last_name}}
{{address}}
{% endif %}</td></tr>
</table>

<p style="width: 33%; margin: 1em auto; text-align: center;">
  <a class="cta-button submit-button" href="{{ mail_link }}">Send Now!</a>
  <br><small>This will open your email client with a draft email for you to edit and send.</small>
</p>
</div>
{% endblock %}
